<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<span th:if="${messages != null &amp;&amp; !messages.isEmpty()}">
    <h4 th:each="message : ${messages}" th:text="${message}"></h4>
</span>

<h1>Admin actions</h1>
<p> <a th:href="@{/admin/create-user}"> Create user </a> </p>
<p> <a th:href="@{/admin/create-interest-rate-schedule}"> Create/Edit Interest Rate Schedules </a> </p>
<p> <a th:href="@{/admin/assign-schedule-to-account}"> Assign schedules to account </a> </p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>