<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Interest Rate Schedule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<span th:if="${messages != null &amp;&amp; !messages.isEmpty()}">
    <h4 th:each="message : ${messages}" th:text="${message}"></h4>
</span>

<a th:href="@{/admin}"> Back </a>


<h1>Create Interest Rate Schedule</h1>
<form action="#" th:action="@{/admin/create-interest-rate-schedule}" th:object="${createInterestRateScheduleRequest}"
      method="post">
    <h3>Interest Rate Schedule</h3>
    <p>Code: <input type="text" th:field="*{code}"/></p>
    <p>Name: <input type="text" th:field="*{name}"/></p>


    <table>
        <thead>
        <tr>
            <th>Amount Floor</th>
            <th>Amount Ceiling</th>
            <th>Interest Rate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interestRateBucket, rowStat : *{interestRateBuckets}">
            <td>
                <input type="text" th:field="*{interestRateBuckets[__${rowStat.index}__].amountFloor}"/>
            </td>
            <td>
                <input type="text" th:field="*{interestRateBuckets[__${rowStat.index}__].amountCeiling}"/>
            </td>
            <td>
                <input type="text" th:field="*{interestRateBuckets[__${rowStat.index}__].interestRate}"/>
            </td>
            <td>
                <button type="submit" name="removeRow" th:value="${rowStat.index}"> Remove bucket </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" name="addRow">Add row</button>


    <p><input type="submit" value="Create Interest Rate Schedule"/></p>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>